<div class="form-container">

    <h2>Student Enrollment Request</h2>

    <form
        #enrollForm="ngForm"
        (ngSubmit)="onSubmit(enrollForm)">

        <div>

    <label>Student Name</label>

    <input
        type="text"
        name="studentName"
        [(ngModel)]="studentName"
        required
        minlength="3"
        #nameCtrl="ngModel">

    <small
        *ngIf="nameCtrl.touched && nameCtrl.errors?.['required']"
        class="error">

        Name is required.

    </small>

    <small
        *ngIf="nameCtrl.touched && nameCtrl.errors?.['minlength']"
        class="error">

        Name must be at least 3 characters.

    </small>

</div>

       <div>

    <label>Email</label>

    <input
        type="email"
        name="studentEmail"
        [(ngModel)]="studentEmail"
        required
        email
        #emailCtrl="ngModel">

    <small
        *ngIf="emailCtrl.touched && emailCtrl.errors?.['required']"
        class="error">

        Email is required.

    </small>

    <small
        *ngIf="emailCtrl.touched && emailCtrl.errors?.['email']"
        class="error">

        Please enter a valid email address.

    </small>

</div>
       <div>

    <label>Course ID</label>

    <input
        type="number"
        name="courseId"
        [(ngModel)]="courseId"
        required
        #courseCtrl="ngModel">

    <small
        *ngIf="courseCtrl.touched && courseCtrl.errors?.['required']"
        class="error">

        Course ID is required.

    </small>

</div>

        <div>

            <label>Preferred Semester</label>

            <select
                name="preferredSemester"
                [(ngModel)]="preferredSemester"
                required>

                <option value="">Select Semester</option>
                <option value="Odd">Odd</option>
                <option value="Even">Even</option>

            </select>

        </div>

       <div>

    <label>

        <input
            type="checkbox"
            name="agreeToTerms"
            [(ngModel)]="agreeToTerms"
            required
            #termsCtrl="ngModel">

        I agree to the Terms and Conditions.

    </label>

    <small
        *ngIf="termsCtrl.touched && termsCtrl.errors?.['required']"
        class="error">

        You must accept the terms.

    </small>

</div>

        <br>

        <button
            type="submit"
            [disabled]="enrollForm.invalid">

            Submit

        </button>
        <button
    type="button"
    (click)="enrollForm.resetForm(); submitted = false">

    Reset

</button>

    </form>
    <div
    class="success"
    *ngIf="submitted">

    Enrollment request submitted successfully!

</div>

</div>